extends ./layouts/layout.jade

block content
    .container
        .row
            .col-xs-2
                .b-payment-methods
                    ul.nav.nav-pills.nav-stacked.b-payment-methods__list(role="tablist")
                        li.b-payment-methods__item.active(role="presentation"): a.b-payment-methods__link(href="#payment_method_1" aria-controls="payment_method_1" role="tab" data-toggle="tab"): img(src='assets/img/payment-methods/1.png', alt='')
                        li.b-payment-methods__item(role="presentation"): a.b-payment-methods__link(href="#payment_method_5" aria-controls="payment_method_5" role="tab" data-toggle="tab"): img(src='assets/img/payment-methods/2.png', alt='QIWI')
                        li.b-payment-methods__item(role="presentation"): a.b-payment-methods__link(href="#payment_method_3" aria-controls="payment_method_3" role="tab" data-toggle="tab"): img(src='assets/img/payment-methods/3.png', alt='Яндекс.Деньги')
                        li.b-payment-methods__item(role="presentation"): a.b-payment-methods__link(href="#payment_method_4" aria-controls="payment_method_4" role="tab" data-toggle="tab"): img(src='assets/img/payment-methods/4.png', alt='PayPal')
                        li.b-payment-methods__item(role="presentation"): a.b-payment-methods__link(href="#payment_method_6" aria-controls="payment_method_6" role="tab" data-toggle="tab") Интернет-банки
                        li.b-payment-methods__item(role="presentation"): a.b-payment-methods__link(href="#payment_method_2" aria-controls="payment_method_2" role="tab" data-toggle="tab") Другие способы
                        li.b-payment-methods__item(role="presentation"): a.b-payment-methods__link.b-payment-methods__link_no-padding(href="#payment_method_sms" aria-controls="payment_method_sms" role="tab" data-toggle="tab"): .b-payment-methods__text #[big SMS] на #[big 7535]#[br]СУММА ЦИФРАМИ
                    .b-payment-methods__image: img.img-responsive(src='assets/img/payment-methods-img.png', alt='')

                    // Modal
                    #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
                        .modal-dialog(role='document')
                            .modal-content
                                .modal-header
                                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                                        span(aria-hidden='true') &times;
                                    //h4#myModalLabel.modal-title Modal title
                                .modal-body(style='font-size:18px')
                                    p: strong Пожертвование с помощью мобильного телефона
                                    p Вы можете:
                                    p Внести пожертвование на сайте прямо #[a(href="https://mixplat.ru/payment/init?key=dc09c97fd73d7a324bdbfe7c79525f64", target="_blank") СЕЙЧАС].
                                    p Отправить любую сумму в SMS на номер 7535.
                                    p Требования оператора «#[a(target="_blank", href="http://moscow.megafon.ru/download/~federal/oferts/oferta_m_platezhi.pdf") Мегафон]» и других #[a(href="http://mixplat.ru/developers/requirements/", target="_blank") операторов].
                                    p Комиссия с абонента - 0%
                                    p: a(href="https://mixplat.ru/oferta_bf.pdf" target="_blank") Оферта РНКО РИБ
                                    p: a(href="https://mixplat.ru/oferta_bf.pdf" target="_blank") Оферта Tele2
                                    p Отправить SMS на номер 3443
                                    p Для того, чтобы сделать взнос, нужно отправить сообщение на короткий номер 3443 со словом ПОМОГАЮ и через пробел указать сумму пожертвования цифрами.
                                    p: i Например: #[b помогаю 300] или #[b pomogayu 300].

            .col-xs-6
                <!-- Tab panes -->
                .tab-content
                    #payment_method_1.tab-pane.active(role="tabpanel")
                        .b-payment
                            p.b-payment__title Пожертвование с пластиковой карты

                            .btn-group.btn-group-justified.b-payment__buttons.b-payment__buttons_small(role="group", data-toggle="buttons")
                                label.btn.btn-default
                                    input(type="radio", name="amount_list", value="100")
                                    | 100
                                label.btn.btn-default
                                    input(type="radio", name="amount_list", value="200")
                                    | 300
                                label.btn.btn-default.active
                                    input(type="radio", name="amount_list", value="500", checked)
                                    | 500
                                label.btn.btn-default
                                    input(type="radio", name="amount_list", value="0")
                                    | Своя#[br]сумма

                            .btn-group.btn-group-justified.b-payment__buttons(role="group", data-toggle="buttons")
                                label.btn.btn-default
                                    input(type="radio", name="payment_type", value="1")
                                    | Ежемесячно
                                label.btn.btn-default.active
                                    input(type="radio", name="payment_type", value="0", checked)
                                    | Единовременно

                            form.b-form.b-payment__form
                                .form-group
                                    label.sr-only фамилия
                                    input.form-control#lastName(placeholder='фамилия', name="lastName", required)
                                .form-group
                                    label.sr-only имя
                                    input.form-control#firstName(placeholder='имя', name="firstName", required)
                                .form-group
                                    label.sr-only отчество
                                    input.form-control#middleName(placeholder='отчество', name="middleName", required)
                                .row
                                    .col-xs-6
                                        .form-group
                                            label.sr-only(for='email') e-mail
                                            input.form-control#email(placeholder='e-mail', name="email", type="email", required)
                                    .col-xs-6
                                        .form-group
                                            label.sr-only телефон
                                            input.form-control#phone(placeholder='телефон', name="phone", required,maxlength="18",autocomplete="off")
                                .row
                                    .col-xs-12
                                        .form-group
                                            label.sr-only ваш комментарий или пожелание (не является назначением платежа)
                                            textarea.form-control.resizable-y#comment(placeholder='ваш комментарий или пожелание \n(не является назначением платежа)', rows='5', name="comment")
                                .form-group.hidden
                                    label.sr-only сумма
                                    input.form-control#amount(placeholder='сумма', name="amount", value="200", required)
                                .b-form__checkbox
                                    input#checkbox(type="checkbox")
                                    label(for='checkbox',data-toggle="tooltip", data-placement="top", title="В публичных материалах Фонда ваше пожертвование будет отображаться как анонимное, но при подаче отчетов в контролирующие органы заполненные данные будут передаваться") анонимное пожертвование
                                .b-form__checkbox
                                    input#agree(type="checkbox", required, checked)
                                    label(for='agree') согласен с #[a(href='#') офертой совершения платежа].
                                button.btn.btn-success.b-form__button.b-payment__button(type='submit') Помочь

                                #info-success.alert.alert-success.fade
                                    h4 Платёж успешно принят.
                                    p Спасибо, что вы с нами!#[br]Благотворительный Фонд Константина Хабенского.#[br]#[a.alert-link(href="http://bfkh.ru/") Вернуться на сайт]


                    #payment_method_2.tab-pane(role="tabpanel")
                        .b-payment
                            p.b-payment__title Другие способы пожертвования

                            #accordion.panel-group.b-payment__accordion(role='tablist', aria-multiselectable='true')
                                .panel.panel-default
                                    #headingOne.panel-heading(role='tab')
                                        h4.panel-title: a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseOne', aria-expanded='false', aria-controls='collapseOne') Банковские реквизиты Фонда
                                    #collapseOne.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingOne')
                                        .panel-body
                                            p
                                                strong Благотворительный Фонд Константина Хабенского
                                            p.text-uppercase
                                                strong реквизиты счета для перечисления в рублях
                                            p
                                                | ИНН 7708236775
                                                br
                                                | КПП 770901001 ОГРН 1087799008967
                                                br
                                                | р/с 40703810900001412504
                                                br
                                                | АО «Райффайзенбанк»
                                                br
                                                | корр/сч 30101810200000000700 в ОПЕРУ Московского ГТУ Банка России
                                                br
                                                | БИК 044525700
                                                br
                                                | Назначение платежа: Благотворительное пожертвование. НДС не облагается.
                                                br
                                                u: a(href="http://bfkh.ru/upload/medialibrary/e21/извещение на оплату .doc") Распечатать квитанцию на оплату
                                                br
                                                br
                                                strong РЕКВИЗИТЫ ВАЛЮТНОГО СЧЕТА ДЛЯ ПЕРЕЧИСЛЕНИЙ В ДОЛЛАРАХ ($)
                                                br
                                                | Получатель (Фонд): KONSTANTIN KHABENSKY FOUNDATION
                                                br
                                                | #[u Банк-получатель]: Raiffeisenbank AO (Moscow), Troitskaya ul. 17/1 129090. Moscow, Russia
                                                br
                                                | SWIFT/BIC банка-получателя: RZBMRUMM
                                                br
                                                | Счет банка-получателя (=IBAN): 40703840900000412504
                                                br
                                                | Детали платежа (назначение): Donation.
                                                br
                                                | Если пожертвование адресное, в Details of payment укажите «Donation for the medical treatments of ________________ (surname and name of the child)».
                                                br
                                                | #[u Банк-посредник]: Deutsche Bank Trust Company Americas
                                                br
                                                | Адрес: 60 Wall Street, New York, NY 10005, USA
                                                br
                                                | SWIFT банка-получателя: BKTRUS33
                                                br
                                                | ABA: 021001033
                                                br
                                                | Сorrespondent account: 04464101
                                                br
                                                | CHIPS Routing No: 0103
                                                br
                                                | Детали платежа (назначение): Donation.
                                                br
                                                | Если пожертвование адресное, в Details of payment укажите «Donation for the medical treatments of ________________ (surname and name of the child)».
                                
                                .panel.panel-default
                                    #heading_3.panel-heading(role='tab')
                                        h4.panel-title: a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapse_3', aria-expanded='false', aria-controls='collapse_3') Платежные кабинеты карт «Кукуруза», «Билайн», KARI
                                    #collapse_3.panel-collapse.collapse(role='tabpanel', aria-labelledby='heading_3')
                                        .panel-body
                                            p
                                                ol
                                                    li Оформите карту в любом салоне или магазине соответствующей сети всего за пару минут и пополните карту на необходимую сумму.
                                                    li Зарегистрируйтесь в Платежном кабинете на сайтах: «#[a(href="https://mybank.oplata.kykyryza.ru/") Кукуруза]», «#[a(href="https://moskva.beeline.ru/login/") Билайн]», #[a(href="https://oplata.kari.com/personal/pub/Entrance") KARI]. Найдите в поиске услугу «Благотворительный Фонд Константина Хабенского».
                                                    li Введите сумму к оплате. Также вы можете по желанию указать ваше ФИО и контактный телефон.
                                                    li Подтвердите операцию смс-кодом. Пожертвование сделано.

                                .panel.panel-default
                                    #heading_4.panel-heading(role='tab')
                                        h4.panel-title: a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapse_4', aria-expanded='false', aria-controls='collapse_4') Терминалы приема платежей
                                    #collapse_4.panel-collapse.collapse(role='tabpanel', aria-labelledby='heading_4')
                                        .panel-body
                                            p Вы можете сделать пожертвование в терминалах приема платежей наших партнеров.

                                            p
                                                ol
                                                    li Нажмите на кнопку «Оплата услуг».
                                                    li Выберите раздел  «Другие услуги».
                                                    li Нажмите на кнопку «Благотворительность».
                                                    li Выберите раздел «Благотворительный Фонд Константина Хабенского».

                                            h5 Адреса терминалов:

                                            p
                                                a(target="_blank", href="http://elecsnet.ru/terminals/addresses/") Элекснет - Адреса оплаты
                                                br
                                                a(target="_blank", href="https://mkb.ru/about_bank/address/") Московский кредитный банк - Адреса оплаты
                                                br
                                                a(target="_blank", href="https://qiwi.com/replenish/map.action") Терминалы QIWI - Адреса оплаты
                                                br
                                                | Wallet One (пополнение)

                                .panel.panel-default
                                    #heading_5.panel-heading(role='tab')
                                        h4.panel-title: a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapse_5', aria-expanded='false', aria-controls='collapse_5') Кассы торговых сетей
                                    #collapse_5.panel-collapse.collapse(role='tabpanel', aria-labelledby='heading_5')
                                        .panel-body
                                            p Внести пожертвование можно через кассы торговых сетей Евросеть, МТС, Билайн, KARI, Агент.ру, Цифроград, Максимус, Фрисби.
                                            p: img(width="338", alt="кассы торговых сетей. png", src="http://bfkh.ru/upload/medialibrary/eb5/eb5bc303dbc5c15306ac48a8bc8fd436.png" height="67" title="кассы торговых сетей. png")
                                            p Для совершения платежа достаточно сообщить кассиру салона, что вы хотите сделать пожертвование в пользу Благотворительного Фонда Константина Хабенского и назвать сумму, которую желаете внести.
                                .panel.panel-default
                                    #heading_6.panel-heading(role='tab')
                                        h4.panel-title: a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapse_6', aria-expanded='false', aria-controls='collapse_6') Благотворительный взнос через Федеральную систему «Город»
                                    #collapse_6.panel-collapse.collapse(role='tabpanel', aria-labelledby='heading_6')
                                        .panel-body
                                            h5: a(target="_blank" href="http://www.kvartplata.ru/fsgmaps/Pages/default.aspx#type:all/company:all/method:bounds/bounds:54.99271165071108%2C82.82429962890626%2C55.06765115970997%2C83.01656037109374/") Платежный кабинет Системы «Город»
                                            p Вы можете внести пожертвование в режиме онлайн можно в платежном кабинете Системы «Город»&nbsp; по любым картам Visa и MasterCard.
                                            br
                                            p: a(href="http://www.kvartplata.ru/internetpayment/Pages/default.aspx", target="_blank"): img(width="214", alt="онлайн-платеж.png", src="http://bfkh.ru/upload/medialibrary/d54/d54fc6d97308738371ce7036726b65be.png", height="32", title="онлайн-платеж.png")
                                            br
                                            p После регистрации вы сможете воспользоваться всеми возможностями платежного сервиса - за раз совершать все необходимые платежи: оплачивать коммунальные и телекоммуникационные услуги, погашать кредиты, оплачивать детские сады, штрафы ГИБДД, налоги, пошлины, взыскания и многие другие услуги.
                                .panel.panel-default
                                    #headingTwo.panel-heading(role='tab')
                                        h4.panel-title: a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo') Платеж с сайта через систему RBK Money
                                    #collapseTwo.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingTwo')
                                        .panel-body
                                            p
                                                ol
                                                    li #[a(target="_blank", href="https://rbkmoney.ru/") Перейдите по ссылке].
                                                    li Откройте ваш электронный кошелек.
                                                    li Произведите оплату.

                    #payment_method_3.tab-pane(role="tabpanel")
                        .b-payment
                            p.b-payment__title Пожертвование с помощью Яндекс.Денег

                            p
                                ol
                                    li Откройте Ваш #[a(target="_blank", href="https://money.yandex.ru/new") Яндекс кошелек].
                                    li Выберите раздел «Благотворительность».
                                    li Найдите в списке «Благотворительный Фонд Константина Хабенского».
                                    li Заполните форму.
                                    li Введите код подтверждения.
                    #payment_method_4.tab-pane(role="tabpanel")
                        .b-payment
                            p.b-payment__title Пожертвование с помощью PayPal

                            p Для пожертвования с помощью PayPal нажмите кнопку:

                            form(action="https://www.paypal.com/cgi-bin/webscr", method="post", target="_top")
                                input(name="cmd", value="_s-xclick", type="hidden")
                                input(name="hosted_button_id", value="UHD9VWHCC2LNJ", type="hidden")
                                input(src="http://bfkh.ru/img/paypal.png", name="submit", alt="PayPal — более безопасный и легкий способ оплаты через Интернет!", border="0", type="image")
                                img(alt="", src="https://www.paypalobjects.com/ru_RU/i/scr/pixel.gif", border="0", height="1", width="1")
                    #payment_method_5.tab-pane(role="tabpanel")
                        .b-payment
                            p.b-payment__title Пожертвование с помощью QIWI Кошелька

                            p
                                ol
                                    li Откройте Ваш #[a(href="https://qiwi.com/main.action", target="_blank") QIWI кошелек].
                                    li Выберите раздел «Оплатить».
                                    li В разделе «Благотворительность» выберите «БФ Константина Хабенского».
                                    li Заполните форму.
                                    li Введите код подтверждения.
                    #payment_method_6.tab-pane(role="tabpanel")
                        .b-payment
                            p.b-payment__title Пожертвование с помощью Интернет-банков

                            p Воспользуйтесь Интернет-Банком вашего банка для перевода денег. Вы можете найти Благотворительный Фонд Константина Хабенского в разделе "Благотворительность" или через форму поиска.
                            p
                                ol
                                    li: a(target="_blank" href="https://online.vtb24.ru/content/telebank-client/ru/login.html") ВТБ24
                                    li: a(target="_blank" href="https://online.binbank.ru/lite/app/pub/Login?wicket-crypt=5D8OSEzVejg&utm_source=binbank.ru&utm_medium=links&utm_campaign=ibank") БинБанк
                                    li: a(target="_blank" href="https://online.mdm.ru/login") МДМ-Банк
                                    li: a(target="_blank" href="https://online.skbbank.ru/ru/html/login.html") СКБ-Банк
                                    li: a(target="_blank" href="https://click.alfabank.ru/AlfaSign/index.html?contextType=external&username=string&password=sercure_string&challenge_url=https%3A%2F%2Fclick.alfabank.ru%3A443%2Fadfform%2Fauth.jspx&request_id=-7658187192991683131&authn_try_count=0&locale=ru_RU&resource_url=https%253A%252F%252Fclick.alfabank.ru%252FALFAIBSR%252F#/") Альфа Банк
                                    li: a(target="_blank" href="https://online.sberbank.ru/CSAFront/index.do") Сбербанк
                                    li: a(target="_blank" href="https://connect.raiffeisen.ru/rba/Login.do") Райффайзен
                    #payment_method_sms.tab-pane(role="tabpanel")
                        .b-payment
                            p.b-payment__title Пожертвование с помощью мобильного телефона

                            p Вы можете:
                            p Внести пожертвование на сайте прямо #[a(href="https://mixplat.ru/payment/init?key=dc09c97fd73d7a324bdbfe7c79525f64", target="_blank") СЕЙЧАС].
                            p Отправить любую сумму в SMS на номер 7535.
                            p Требования оператора «#[a(target="_blank", href="http://moscow.megafon.ru/download/~federal/oferts/oferta_m_platezhi.pdf") Мегафон]» и других #[a(href="http://mixplat.ru/developers/requirements/", target="_blank") операторов].
                            p Комиссия с абонента - 0%
                            p: a(href="https://mixplat.ru/oferta_bf.pdf" target="_blank") Оферта РНКО РИБ
                            p: a(href="https://mixplat.ru/oferta_bf.pdf" target="_blank") Оферта Tele2
                            p Отправить SMS на номер 3443
                            p Для того, чтобы сделать взнос, нужно отправить сообщение на короткий номер 3443 со словом ПОМОГАЮ и через пробел указать сумму пожертвования цифрами.
                            p: i Например: #[b помогаю 300] или #[b pomogayu 300].

            .col-xs-4
                .b-sidebar
                    .list-group.b-sidebar__menu.hidden
                        a.list-group-item(href="#") Константин Хабенский
                        a.list-group-item(href="#") Попечительский Совет
                        a.list-group-item(href="#") Экспертный Совет
                        a.list-group-item(href="#") Сотрудники
                        a.list-group-item(href="#") Отчёты
                        a.list-group-item.active(href="#") Помочь
                        a.list-group-item(href="#") Официальные документы
                        a.list-group-item(href="#") Наши проекты
                    .b-payment
                        p.b-payment__title Последние пожертвования

                        .b-payment__list
                            .b-payment__item
                                span.b-payment__date 6 июл 2016 в 15:00
                                span 2 000 руб. — VISA. Василий П.
                            .b-payment__item
                                span.b-payment__date 6 мая 2016 в 15:00
                                span 2 000 руб. — VISA. Людмила С.
                            .b-payment__item
                                span.b-payment__date 6 апр 2016 в 22:05
                                span 500 руб. — PayPal. Василий П.
                            .b-payment__item
                                span.b-payment__date 6 июл 2016 в 15:00
                                span 123 руб. — PayPal. Василий П.
                            .b-payment__item
                                span.b-payment__date 6 июл 2016 в 15:00
                                span 500 руб. — PayPal. Василий П.
                        br
                        p: a(href='#') Все пожертвования

