@import "variables";
@import "mixins";

.b-header {
	margin-bottom: 20px;
}

.b-header__logo {
	display: inline-block;
	margin-top: 26px;
}

.b-header__text {
	float: right;
	font: normal 20px/24px "Myriad Pro Light", sans-serif;
	color: #7387c4;
	text-align: right;
	margin-right: 20px;
	margin-top: 35px;
}

.b-header__button {
	float: right;
	display: inline-block;
	color: #fff;
	background: #008c99;
	font-size: 21px;
	padding: 10px 30px;
	margin-top: 35px;

	&:hover, &:active, &:focus {
		color: #fff;
	}

	&:hover {
		background: lighten(#008c99, 5%);
	}
}
