@import "variables";
@import "mixins";

.browserupgrade {
	margin: 0 0 0.2em;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
	text-align: center;
}

/* Template-specific stuff
 *
 * Customizations just for the template; these are not necessary for anything
 * with disabling the responsiveness.
 */

/* Account for fixed navbar */
body {
	background: left top repeat url("../../assets/img/bg.png");
	min-width: 960px;
	//position: relative;
}

/* Non-responsive overrides
 *
 * Utilitze the following CSS to disable the responsive-ness of the container,
 * grid system, and navbar.
 */

/* Reset the container */
.container {
	width: 860px;
	max-width: none !important;
}

/**
* Generate .g-mt10, .g-mt-20, .g-mb10 classes
*/
@iterations: 6;

.margin-top-loop (@i) when (@i > 0) {
	.g-mt@{i}0 {
		margin-top: @i * 10px !important;
	}

	.margin-top-loop(@i - 1);
}

.margin-top-loop(@iterations);

.margin-bottom-loop (@i) when (@i > 0) {
	.g-mb@{i}0 {
		margin-bottom: @i * 10px !important;
	}

	.margin-bottom-loop(@i - 1);
}

.margin-bottom-loop(@iterations);

.margin-left-loop (@i) when (@i > 0) {
	.g-ml@{i}0 {
		margin-left: @i * 10px !important;
	}

	.margin-left-loop(@i - 1);
}

.margin-left-loop(@iterations);

.super-transition() {
	-webkit-transition: all 300ms cubic-bezier(0.815, 0.225, 0.510, 0.985);
	-moz-transition: all 300ms cubic-bezier(0.815, 0.225, 0.510, 0.985);
	-o-transition: all 300ms cubic-bezier(0.815, 0.225, 0.510, 0.985);
	transition: all 300ms cubic-bezier(0.815, 0.225, 0.510, 0.985); /* custom */

	-webkit-transition-timing-function: cubic-bezier(0.815, 0.225, 0.510, 0.985);
	-moz-transition-timing-function: cubic-bezier(0.815, 0.225, 0.510, 0.985);
	-o-transition-timing-function: cubic-bezier(0.815, 0.225, 0.510, 0.985);
	transition-timing-function: cubic-bezier(0.815, 0.225, 0.510, 0.985); /* custom */
}

.resizable-x {
	.resizable(horizontal);
}

.resizable-y {
	.resizable(vertical);
}

.g-divider {
	height: 1px;
	background: #7387c4;
	position: relative;
	margin: 2px;

	&:before, &:after {
		content: '';
		width: 5px;
		height: 5px;
		background: #7387c4;
		border-radius: 50%;
		position: absolute;
		top: -2px;
	}
	&:before {
		left: -2px;
	}
	&:after {
		right: -2px;
	}
}