@import "variables";
@import "mixins";

.b-payment {
	margin-left: 20px;
	margin-right: 40px;

	ol {
		margin: 0;
		padding: 0;
		list-style-position: inside;
	}

	li {
		margin-bottom: 10px;
	}
}

.b-payment__title {
	font-size: 20px;
	color: #38808c;
	margin-bottom: 28px;
}

.b-payment__buttons {
	margin-bottom: 28px;

	.btn {
		border-left-width: 0;
		padding: 8px 12px;

		&:first-child {
			border-left-width: 1px;
		}

		&.active {
			background: #8290c7;
			box-shadow: none;
			color: #ebebeb;
			border-color: #7387c4;
		}
	}
}

.b-payment__buttons_small {
	.btn {
		line-height: 16px;
		padding: 2px 12px;
	}
}

.b-payment__form {

}

.b-payment__button {
	text-transform: uppercase;
}

.b-payment__list {
}

.b-payment__item {
	margin-bottom: 16px;
	color: #000000;
}

.b-payment__date {
	color: #8290c7;
	display: block;
}

.b-payment__accordion {
	.panel {
		//border: none;
		border-left: none;
		border-right: none;
		border-bottom: none;
		box-shadow: none;
		margin-top: 0 !important;
	}

	.panel-default {
	}
	.panel-body {
		border: none !important;
	}
	.panel-heading {
		//border-top: 1px solid #c7d0e5;
		//border-bottom: 1px solid #c7d0e5;
	}

	.panel-title {
		font-size: 16px;
		//color: #000000;

		> a {
			display: block;
			position: relative;

			&:after {
				content: '';
				position: absolute;
				right: 0;
				top: 50%;
				margin-top: -3px;
				width: 10px;
				height: 6px;
				background: left top no-repeat url("../../assets/img/arrows.png");
			}

			&.collapsed:after {
				background-position: 0 -6px;
			}
		}
	}
}