@import "variables";
@import "mixins";

.b-payment-methods {
	margin-right: -20px;
}

.b-payment-methods__list {
	font-family: @font-family-secondary;
	font-weight: normal;
	text-align: center;

	.nav-pills > li.active > a {
		&, &:focus, &:hover {
			color: #595959;
		}
	}
}

.b-payment-methods__item {
	border-bottom: 1px solid #c7d0e5;
	margin: 0 !important;

	&:first-child {
		border-top: 1px solid #c7d0e5;
	}

	&.active {

	}
}

.b-payment-methods__link {
	height: 57px;
	display: flex !important;
	align-items: center;
	justify-content: center;
	color: #595959;
	font-size: 14px;
	line-height: 16px;
}

.b-payment-methods__link_no-padding {
	padding-left: 0 !important;
	padding-right: 0 !important;
	height: auto;
}

.b-payment-methods__text {
	font-size: 16px;
	line-height: 24px;
	color: #38808c;
	text-align: center;
	margin: 8px 0 5px;
	//margin-top: 20px;
	//cursor: pointer;

	big {
		font-size: 27px;
	}
	.text-muted {
		color: #a2c9cf;
	}
}

.b-payment-methods__image {
	margin-top: 16px;
	// cursor: pointer;
}
