@import "variables";
@import "mixins";

.b-breadcrumbs {
	font-family: @font-family-secondary;
	font-size: 12px;
	line-height: 30px;
	border-top: 1px solid #a8b7db;
	border-bottom: 1px solid #a8b7db;
	margin-bottom: 32px;

	> li + li:before {
		font-size: 10px;
		vertical-align: middle;
		color: #c78b96 !important;
		font-family: @font-family-secondary;
	}

	.active {
		font-family: @font-family-primary;
	}
}