.footer
    .footer_in
        .title_text
            .title_large
            h2 Связаться с нами
        .footer_inside
            .footer_block(style='width: 309px;')
                a.f-logo(href='/')
                    img(src='assets/img/footer_logo.png', alt='', title='')
            .footer_block(style="width:320px;")
                h2 Наши контакты:
                | 8 800 250-93-05, info@bfkh.ru
                h3 Телефон работает с 10 до 19 по московскому времени
                h3 Бесплатный для всех регионов России
            .footer_block(style='margin-left: 40px;')
                h2 Для партнеров:
                | +7 985 196-32-51, a.sysoeva@bfkh.ru
                .social-icons
                    a.fb(href='https://www.facebook.com/Khabensky.Foundation?ref=hl', target='_blank')
                    a.vk(href='http://vk.com/public49095389', target='_blank')
                    a.tw(href='https://twitter.com/Khabensky_Fund', target='_blank')
                    a.od(href='http://www.odnoklassniki.ru/khabensky.foundation', target='_blank')
                    a.lj(href='http://khabensky-fund.livejournal.com/', target='_blank')
        br