head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    title #{title}
    meta(name="description", content="")

    block styles
        //link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i', type='text/css')
        link(rel='stylesheet', href='assets/fonts/fonts.css')
        link(rel='stylesheet', href='assets/css/bootstrap.min.css')
        //link(rel='stylesheet', href='assets/vendor/slick-carousel/slick/slick.css')
        //link(rel='stylesheet', href='assets/vendor/slick-carousel/slick/slick-theme.css')
        //link(rel='stylesheet', href='assets/vendor/fancybox/source/jquery.fancybox.css?v=2.1.5', media='screen')
        link(rel='stylesheet', href='assets/css/common.min.css')

    block scripts
        script(src='assets/vendor/jquery/dist/jquery.min.js')
        script(src='assets/vendor/bootstrap/dist/js/bootstrap.min.js')
        script(src='assets/vendor/slick-carousel/slick/slick.min.js')
        //script(src='assets/vendor/fancybox/source/jquery.fancybox.pack.js?v=2.1.5')
        script(src='https://secure.cloudpayments.ru/bfkh/jquery.mask.min.js')
        script(src='https://widget.cloudpayments.ru/bundles/cloudpayments')
        script(src='assets/js/script.js')
