<!--[if lte IE 8]>
p.browserupgrade.
    You are using an #[strong outdated] browser.
    Please #[a(target="_blank", href="http://browsehappy.com/") upgrade your browser] to improve your experience.
<!--<![endif]-->

.b-header
    .container
        a.b-header__logo(href='#'): img(src='assets/img/logo.png', alt='')

        a.btn.b-header__button(href='#') Помочь

        .b-header__text
            | Собрано за 2016 год#[br]88 446 594,46&nbsp;руб.

nav.navbar.navbar-default.navbar-static-top.b-navbar#navbar-example(role='navigation')
    .container
        .collapse.navbar-collapse
            ul.nav.nav-justified
                li: a(href='#') О фонде
                li: a(href='#') Новости
                li: a(href='#') Дети
                li: a(href='#') Наши программы
                li: a(href='#') Отчёты
                li: a(href='#') Нам помогают
                li: a(href='#') Контакты
.container
    ol.breadcrumb.b-breadcrumbs
        li: a(href="#") Благотворительный Фонд Константина Хабенского
        li.active Помочь
