@import "variables";
@import "mixins";

.b-sidebar {
	margin-left: -40px;
}

.b-sidebar__menu {
	font: normal 18px/22px Myriad Pro Light, sans-serif;

	.list-group-item {
		border-left: none;
		border-right: none;
		padding-left: 0;
		padding-right: 0;

		&:first-child {
			border-top: none;
		}
	}

	.active:before {
		content: '';
		background: url("../../assets/img/sprites.png") no-repeat -718px /*-2px*/ -4px;
		width: 7px;
		height: /*24px*/ 20px;
		display: block;
		float: left;
		margin-right: 8px;
	}
}