@import "variables";
@import "mixins";

.b-form {
	label {
		font-weight: normal;
	}

	input[type='checkbox'] {
		//display: none;
		opacity: 0;
		width: 1px;
		height: 1px;

		& + label {
			background: left top no-repeat url("../../assets/img/checkbox.png");
			color: #000000;
			font-size: 14px;
			line-height: 16px;
			padding-left: 27px;
			cursor: pointer;
		}

		&:checked + label {
			background-position: 0 -16px;
		}
	}
}

.b-form__checkbox {
	margin-top: 10px;
	margin-bottom: 20px;
}

.b-form__button {
	font-size: 18px;
	padding: 6px 50px 5px;
	border-radius: 0;
}
