/* Footer */

.footer {float: left; width: 100%; background: #7387c4; padding-bottom: 80px; margin-top: 20px;}
.footer_in {width: 980px; display: table; margin: 0 auto;}
.footer .title_large {margin-top: -7px;}
.footer .title_text h2 {color: #FFF;}
.footer_inside {float: left; width: 100%;}
.footer_block {float: left; width: 250px; margin-left: 20px; margin-top: 4px;}
.footer_block h2 {float: left; display: block; width: 100%; font: normal 18px/22px Myriad Pro, sans-serif; color: #FFF; margin-bottom: 9px;}
.footer_block span {float: left; display: block; width: 100%; font: normal 18px/20px Myriad Pro Light, sans-serif; color: #FFF; margin-bottom: 4px;}
.footer_block sup {float: left; display: block; width: 100%; font: normal 14px/14px Myriad Pro, sans-serif; color: #FFF; margin-bottom: 5px;}
.footer_block a {float: left; margin-top: 17px;}

.footer_block a.f-logo {margin-top: 0px;}
.design-by {float: left; margin-top: 25px; font-size: 14px; color: #fff;}
.design-by a {float: none; margin: 0; color: #fff; text-decoration: underline;}

/* /Footer */

.title_text h2 {
	float: left;
	width: 100%;
	height: 55px;
	font: normal 36px/55px Myriad Pro Light, sans-serif;
	color: #7387c4;
	text-align: center;
}


.footer_block .social-icons {float: left; width: auto;}
.footer_block .social-icons a {margin-right: 10px;}

.footer_block .social-icons a.fb {background-position: -754px -150px;}
.footer_block .social-icons a.vk {background-position: -802px -150px;}
.footer_block .social-icons a.tw {background-position: -849px -150px;}
.footer_block .social-icons a.od {background-position: -897px -150px;}
.footer_block .social-icons a.lj {background-position: -944px -150px;}

.footer_block h3 {font-size: 14px; color: #FFF; margin-bottom: 2px;}

/* Social Icons */

.social-icons {width: 220px; height: 35px;}
.social-icons a {background: url("../img/sprites.png") no-repeat; width: 35px; height: 35px; display: block; float: left; margin-right: 5px;}
.social-icons a.fb {background-position: -754px top;}
.social-icons a.vk {background-position: -802px top;}
.social-icons a.tw {background-position: -849px top;}
.social-icons a.od {background-position: -897px top;}
.social-icons a.lj {background-position: -944px top;}